<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LaunchModel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8194D5BC1D792DAF0041AFA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8194D5D51D792DAF0041AFA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8194D5E01D792DAF0041AFA8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
